@import "../variables";

.about {
    position: relative;
    width: 100%;
    margin: 150px 0 0 0;
    @include md-devices {
        margin: 140px 0 0 0;
    }
    @include sm-devices {
        margin: 140px 0 0 0;
    }

    &__top_content {
        width: 100%;

        div {
            text-align: center;
            font-family: $font-secondary;
            font-size: 30px;
            font-weight: 500;
            line-height: normal;
            padding: 0 0 50px 0;
            @include sm-devices {
                font-size: 26px;
            }
        }
    }

    &__bottom_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        @include sm-devices {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
    }
}
