@import "../variables";

.about {
    position: relative;
    width: 100%;
    top: 200px;
    padding: 0 0 50px 0;
    @include md-devices {
        top: 140px;
    }
    @include sm-devices {
        top: 140px;
    }

    &__top_content {
        width: 100%;

        div {
            text-align: center;
            font-family: $font-secondary;
            font-size: 36px;
            font-weight: 500;
            line-height: normal;
            height: 0;
            padding: 0 0 150px 0;
        }
    }

   &__bottom_content {
       width: 100%;
      
   }
}