@import "./variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

section,
div {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  height: 100%;
  color: $color-black;
  background: $bg-main-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .container {
    position: relative;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    @include xs-devices {
      max-width: 100%;
    }
    @include sm-devices {
      max-width: 100%;
    }
    @include md-devices {
      max-width: 750px;
    }
    @include lg-devices {
      max-width: 960px;
    }
    @include xl-devices {
      max-width: 1170px;
    }
  }
  #root {
    height: 100%;
    width: 100%;
  }

  .os-host {
    width: 80%;
    height: 200px;
    font-family: $font-main;
    font-size: 24px;
    padding: 0 15px 0 15px;
    .os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
      background: rgba(0, 0, 0, 0.4);
    }
    .os-scrollbar.os-scrollbar-vertical .os-scrollbar-track.os-scrollbar-track-off {
      background: $color-black;
      width: 40%;
    }
    .os-scrollbar.os-scrollbar-vertical {
      top: 50%;
      left: calc(100% - 5px);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      height: calc(100% - 30px);
      .os-scrollbar-track.os-scrollbar-track-off .os-scrollbar-handle {
        height: 15px !important;
        width: 15px !important;
        min-height: 0 !important;
        left: -7.5px;
        top: 10px;
        border-radius: 50%;
        background: $bg-secondary;
      }
    }
  }
}
