body {
    .os-host {
        width: 60%;
        height: 200px;
        font-family: $font-main;
        font-size: 22px;
        font-weight: 500;
        padding: 0 15px 0 15px;
        transform: perspective(800px) rotateY(-12deg);
        .os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
            background: rgba(0, 0, 0, 0.4);
        }
        .os-scrollbar.os-scrollbar-vertical {
            .os-scrollbar-track.os-scrollbar-track-off {
                background: $color-black;
                width: 40%;
            }
        }
        .os-scrollbar {
            &.os-scrollbar-vertical {
                top: 50%;
                left: calc(100% - 5px);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                height: calc(100% - 30px);
                .os-scrollbar-track {
                    &.os-scrollbar-track-off {
                        .os-scrollbar-handle {
                            height: 15px !important;
                            width: 15px;
                            min-height: 0;
                            left: -7.5px;
                            top: 10px;
                            border-radius: 50%;
                            background: $bg-secondary;
                        }
                    }
                }
            }
        }
        p {
            text-align: left;
            margin: 0 0 1vh 0;
            &:last-of-type {
                margin: 0;
            }
        }
        @include sm-devices {
            width: 100%;
            transform: perspective(75em) rotateX(25deg);
            font-size: 18px;

        }
    }
}
